/* Ensure no overlap*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
* {
  margin: 0;
}

/*Remove link underline */
a {
  text-decoration: none;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}
